[2018-11-05 04:37] bnb opened #1 "Add tests"
The module is currently lacking tests. This is something that is 100% needed but also something I'm entirely unfamiliar with. Would 💚 some help on this!

[2018-11-05 04:40] bnb opened #2 "Add good-first-issue selector when the module is called without passing a project"
When run without a project being passed, the module should prompt the user with an interactive selector. [Inquirer.js](https://github.com/SBoudrias/Inquirer.js) seems to be the best option with our current stack.

[2018-11-05 04:41] bnb opened #3 "Enable `good-first-issue` to be consumed as a module"
Theoretically this module should be able to be `require()`d. Exposing and passing the raw data we're creating shouldn't be too hard... right?

[2018-11-06 18:59] sebastienvercammen opened #4 "Incomplete code comment."
Browsing around, I noticed this piece of incomplete comment text.

https://github.com/bnb/good-first-issue/blob/66d591a885c520aaf1797c32dac8e61d814afcf3/lib/search.js#L2

[2018-11-06 19:28] bnb commented on #4
Thanks for letting me know! Should be fixed in https://github.com/bnb/good-first-issue/commit/10468d6872a92b41660ee82e59c651d450a3498b 🤗

[2018-11-06 19:28] #4 closed

[2018-11-06 19:32] sebastienvercammen commented on #4
@bnb Super, thanks for the quick turn-around.

Small maintainer tip, should you ever need it: If you type something like "`Fixes #4`" in a PR and merge it, the Issue automatically gets closed. The reference itself will also be shown in the Issue. This helped save us a lot of time during our OS work.

[2018-11-09 01:28] maxdevjs opened #8 "Add Vue.js, Facebook, ..."
Added a few orgs to my fork:

- [Angular](https://github.com/maxdevjs/good-first-issue/tree/angular)
- [Facebook](https://github.com/maxdevjs/good-first-issue/tree/facebook)
- [Vue.js](https://github.com/maxdevjs/good-first-issue/tree/vuejs)

Hints, suggestions, is this done the right way, useful...? :)

[2018-11-09 12:41] bnb commented on #8
Hey, thanks for the work!

Some feedback:

- In your searches, you don't need to include `sort:updated-desc` since that's included in the query to `@octokit/rest.js`.
- Facebook is definitely an interesting idea, and one I'd not thought about! I really like the concept, though I think we may want to have a slightly more comprehensive description because it's an org with multiple facets 😄

[2018-11-09 17:08] maxdevjs commented on #8
Thanks for clarifications.

- ops... about `sort:updated-desc` I did a paste & copy of `electron` project, not `node`, should `electron`  (and `gutenberg`) be changed too?
- I agree, again... had this doubt too. And what would be better? Add orgs as a whole (example: `org:facebook` and not just `repo:org:facebook/react`, as per `org:nodejs`) or specific repos (`repo:angular/angular`, as per `repo:

[2018-11-12 16:00] maddhruv opened #13 "add more cli options"
we've set sort and order already in the module rather we can provide options to the _cli+module_
#### suggested options -
| Option | type | default | description |
| --- | --- | --- | --- |
| `random` | boolean | true | else return the first/top result |
| order |enum [asc, desc] | asc | |
| sort | enum[comments, created, updated] | updated | |
| open | boolean | false | open the issue in browser

[2018-11-12 16:02] bnb opened #14 "Enhance selector output"
Currently we're just outputting the key for each project object in the project selector. You can see what we're currently doing [here](https://github.com/bnb/good-first-issue/blob/master/bin/prompt.js#L11).

Ideally, we'd be outputting the project name a project description to select from.

[2018-11-12 16:22] bnb opened #15 "Refactor @octokit/rest.js in search.js to use async/await"
Looks like we've published a version that is emitting a warning from `@octokit/rest.js` notifying that callbacks will be deprecated:

![image](https://user-images.githubusercontent.com/502396/48360416-2caa9280-e66d-11e8-9983-29c947577a9f.png)

Let's refactor using async/await.

[2018-11-12 16:38] maddhruv commented on #15
ain't showing for me
![image](https://user-images.githubusercontent.com/18121502/48361386-66a88280-e6c7-11e8-9de0-df78c0223ae8.png)

[2018-11-12 16:39] maddhruv commented on #15
please check the lock file
I am having the 15.x version

![image](https://user-images.githubusercontent.com/18121502/48361475-98214e00-e6c7-11e8-90a9-e1d91f7850ac.png)

[2018-11-13 08:10] kennethvandenberghe commented on #15
Indeed, in 15.7.0 there are a few deprecations listed. Callbacks being among them. I will refactor things to use async await (and update the tests I made, since those expect the callback way for mocking).

[2018-11-13 19:46] bnb commented on #8
Indeed, #10 has now landed.

I'd like to keep things centralized into specific commands. I'm not opposed to having unique commands for `facebook`, `react, `jest`, and so on.

Node.js is an org but it's a weird org in that everything in it is around Node.js as a project... so they're all basically the same project. Someone who is going to be interested in a first contribution to Node.js can contrib

[2018-11-14 03:45] maddhruv commented on #13
`first` and `open` are done in #16
will do others in a different one
have to make changes to the module

[2018-11-16 04:00] #2 closed

[2018-11-16 04:00] #3 closed

[2018-11-16 04:00] #15 closed

[2018-11-16 15:55] maddhruv opened #25 "[proposal] - projects.json and project description"
We should store the project's data in `projects.json` in spite of the `projects.js`
- the projects.js doesn't contain any other function, it just exports the data object

---
project descriptions thread follow up - https://github.com/bnb/good-first-issue/pull/24#issuecomment-439421369

---
Examples:
- https://github.com/electron/electronjs.org/tree/master/data

[2018-11-16 23:20] spboyer opened #27 "Unexpected token"
via npx
[code]

via npm global install
[code]

[2018-11-16 23:30] spboyer commented on #27
node version issue. async functions not supported < 7.6

User/Dev error had n version set to 7 for some silly reason. Closing.

[2018-11-16 23:30] #27 closed

[2018-11-17 19:14] thescientist13 commented on #13
A top level option that might be helpful (not specific to an issue) would be list, e.g.
[code]

Would display a list of the support projects that can be searched, e.g.
[code]

[2018-11-17 21:44] bnb opened #34 "Handle rate limiting gracefully"
When testing to make sure nothing breaks, I semi-often get rate-limited by GitHub. This is because there are (IIRC) 50 queries accepted before 1-hour rate limiting kicks in.

Obviously this shouldn't be happening for a normal user (though I'd applaud a user that was working on dozens of good-first-issues), but it may happen for contributors.

Checklist:
- [ ] Handle errors in the CLI gracefully
-

[2018-11-17 21:48] bnb commented on #13
I'd also like to see:

[code]

Which would output a selectable list using Inquirer.js that includes every item in the list in a format like:

[code]

If you want to take a shot at this let me know, otherwise I'll give it a go 👍

[2018-11-17 22:46] bnb commented on #1
We're now using Jest!

Some needed tests:
- `good-first-issue <project> -o` exits appropriately
- `log` returns a properly formatted output without any `undefined` (the repo name is especially tricky!)
- `require('good-first-issue') operates and returns an object with the correct shape, as expected

[2018-11-18 12:54] #25 closed

[2018-11-18 15:17] kennethvandenberghe commented on #34
Found this in the docs about rate limits:

https://developer.github.com/v3/search/#rate-limit

[2018-11-18 15:29] kennethvandenberghe commented on #34
Also, not sure how much users will give GitHub credentials to avoid these limits. So not sure if it is worth adding an authentication functionality just for this? Otherwise I would like to give it a shot, found [this article](https://www.sitepoint.com/javascript-command-line-interface-cli-node-js/) about a CLI application getting and storing a OAuth token etc.

[2018-11-20 21:32] #14 closed

[2018-11-20 22:03] bnb commented on #34
I believe it's 5k/hour or so – I have experience with this from building out [NodeKitten](https://twitter.com/nodekitten).

[2018-11-20 22:08] bnb commented on #34
For implementation of this, I believe we can just accept an object and pass it directly to [@octokit/rest.js](https://github.com/octokit/rest.js), which is the lib we're using for GitHub. See the [Authentication examples](https://github.com/octokit/rest.js#authentication) in their README.md for an example – in NodeKitten I used token authentication but we could just let the user decide how they wa

[2018-11-20 22:08] bnb commented on #34
Oops didn't mean to close 😁

[2018-11-21 02:43] maddhruv commented on #34
if the rate is 5K :shamrock: I don't think we/any user at any point exceed this rate
(except in case of bruting :wink:  )

[2018-11-21 07:36] kennethvandenberghe commented on #34
I think the search that we use is limited at a lower rate than normal requests. Have tried it out, and can hit the limit if i make a dozen requests in a minute.

[2018-11-21 07:38] kennethvandenberghe commented on #34
If we don't store the authentication in a way, the user will have to login/authenticate each time we run? Don't think that is a fun UX if we ask that every time.

[2018-11-21 14:04] bnb commented on #34
@kennethvandenberghe so this is more for when the user `require()`s the module to use the output programmatically and less when the user is using it from the CLI.

IMO it's less needed on the CLI since I can't really think of a use case in which a user (not a contributor) is genuinely using the CLI to find a Good First Issue. That said, we may want to add the ability for contributors to add a file

[2018-11-21 15:17] gusma opened #45 "Good first issue failing"
Hi! I'm getting this error while trying to run GFI:

![error-goodfirst](https://user-images.githubusercontent.com/140903/48850391-5491a880-ed87-11e8-8e95-5d5aad1bd0c9.jpg)

Why could this be happening?

[2018-11-21 15:18] maddhruv commented on #45
please tell your
node version?

[2018-11-21 15:18] maddhruv commented on #45
good-first-issue is supported for node > 8

[2018-11-21 15:20] gusma commented on #45
Rats! 6.14. Sorry.

[2018-11-21 15:20] #45 closed

[2018-11-21 15:21] maddhruv commented on #45
No Problem
Please update your node to the latest version
:smile:

[2018-11-21 15:27] bnb opened #46 "Cannot find module '../data/projects.json'"
Source: https://twitter.com/jeremenichelli/status/1065261579271315456?s=20

[2018-11-21 15:32] bnb commented on #46
Also got this on a different run:
![image](https://user-images.githubusercontent.com/502396/48851202-75063680-ed78-11e8-9134-9428e596b263.png)

[2018-11-21 15:33] maddhruv commented on #46
just checking :hourglass:

[2018-11-21 15:33] bnb commented on #46
FWIW this is the LOC that's causing the issue: https://github.com/bnb/good-first-issue/blob/master/bin/prompt.js#L3

Can't reproduce locally but can easily reproduce from npm with npx and global install.

[2018-11-21 15:53] #46 closed

[2018-11-21 16:14] jeremenichelli commented on #46
Still seeing this:

<img width="583" alt="screen shot 2018-11-21 at 17 12 59" src="https://user-images.githubusercontent.com/3856481/48853867-badef100-edb0-11e8-92be-07a0cfba92d3.png">

One issue could be that the build or publish script is ignoring the data folder, if not, I would suggest bundling the script before publish to avoid this. Sorry I don't have the time to inspect and put a fix in pla

[2018-11-22 01:59] maddhruv commented on #34
- As for a module consumption scenario - we can add `auth token` as an option to it
- and for the cli, I don't think a user might end up making hundreds to request/hour, hence no need in the CLI

[2018-11-22 14:55] hemal7735 commented on #1
@bnb can we add task lists?
I've few comments over the first task. I doubt if it can be tested.
I've raised a question on that repo: https://github.com/sindresorhus/opn/issues/109

[2018-11-22 18:01] hemal7735 opened #51 "[Enhancement]: decouple lib/log.js"
Currently, `lib/log.js` is iterating over `issues` and forms `output` array.
I see the oppurtunity of enhancement from both performance and modularity here.

**If the `log` module just create the output from `issue`, and `project` objects then,**
1. We can avoid generating output for all issues --> perf  boost, we can get some benchmark 😉
2. We can test is easily --> modularity

@bnb @maddhruv you

[2018-11-22 18:22] hemal7735 opened #52 "[README.md] - Automatic Generation of Projects in README.md/PROJECT_SUPPORTED.md"
As of now, in order to add projects we do 2 things:
1. add project in `data/projects.json`
2. update `README.md`

Step-2 might get forgotten sometime. This can be automated stuff as part of `npm script`.

We can have `PROJECT_SUPPORTED.md` where we list all the projects.

@bnb @maddhruv Do let me know your thoughts.

[2018-11-22 19:46] bnb commented on #51
@hemal7735 I've been thinking about how we're iterating over a large set of objects.

As I'm writing this, I just switched away from working on filtering for `search.js` and I'm realizing that we're only iterating over either 30 or 100 issues rather than the 50k that are open for that (which explains why there were some very commonly occurring repos when I was testing).

Would ❤️ to have your help

[2018-11-22 19:48] bnb commented on #1
@hemal7735 I believe it may be on our end rather than opn's end – I less care about checking that the issue actually opened in a browser and more care that when passing the -o flag, the CLI actually exits.

Context: For a while, we weren't exiting and the CLI would continue running without actually doing anything, forcing the user to CMD + C to get out of it.

[2018-11-22 19:49] bnb commented on #1
@hemal7735 and yes, feel free to add tasks!

[2018-11-22 19:50] bnb commented on #52
@hemal7735 Sounds good to me 👍

[2018-11-22 19:52] bnb opened #53 "Add descriptions to projects in data/projects.json"
We currently support including descriptions in `projects.json` and consuming them (at least in the CLI – not entirely sure about the module), but don't currently have any descriptions.

Before we get a tremendous amount of projects, it would be incredible to get descriptions and require them when adding new ones so we don't have to do a bunch retroactively 👍

[2018-11-22 22:17] ItamarShDev opened #56 "Long title messes the UI"
<img width="578" alt="image" src="https://user-images.githubusercontent.com/953371/48923192-2d38f980-eeb5-11e8-8a99-028ffac5d9e3.png">

[2018-11-23 03:08] hemal7735 commented on #53
Maybe `good-first-issue` or `help-wanted`? 🤔

[2018-11-23 05:42] hemal7735 commented on #1
@bnb yup, checking the process - exit code is doable. Thanks for the clarification.

[2018-11-23 05:59] hemal7735 commented on #51
@bnb I see there is a field called `total_count` in the response. We can utilize that to figure out the number of pages as default is 30 items per page. So the idea is:
1. figure out the number of pages
2. select random page
3. select random issue from that page

We will be making 2 calls to octokit apis for this. I'm not sure how it will affect rate-limiting.

[2018-11-23 06:03] hemal7735 commented on #51
Should not the intent of the `lib/log.js` is to create a loggable string from the issue passed as parameter ? and not select the project?

[2018-11-23 16:42] bnb commented on #1
I _believe_ it was solved with https://github.com/bnb/good-first-issue/commit/3cfb8e67c1ab0f2d7801952cfffeb0a710447567 but I'd always like to maintain a check that it's exiting correctly 😬

[2018-11-23 16:58] bnb commented on #51
Which line specifically are you referring to when you're talking about selecting the project @hemal7735? 🤔

As far as I can tell that's not currently the case – the `project` argument is only to pass in the name of the project. Could be wrong though 👍

[2018-11-23 16:59] bnb commented on #53
@hemal7735 for this issue? I +1 that 👍

[2018-11-23 17:04] bnb commented on #56
Yup, I've seen this before. It really depends on the width of your terminal. We could theoretically split up the title if it exceeds a certain number of characters 🤔

[2018-11-24 19:18] bnb commented on #34
@kennethvandenberghe enable the user to pass an object to the module when calling it that we will pass _directly_ to `@octokit/rest.js`.

We don't need to be specific about what that object looks like, since `@octokit/rest.js` already has mechanisms for that – we just need to pass that object to `@octokit/rest.js` if it is provided.

Here's the examples from the `@octokit/rest.js` README: https://

[2018-11-25 07:49] ItamarShDev commented on #56
I can apply the fix, once I'll know what the decided fix is :)

[2018-11-25 23:32] bnb commented on #56
@ItamarShDev feel free to take a stab at whatever you think would work! My thoughts:

- We add custom padding + a string that total 19 characters when the title is the longest line (see [this screenshot](https://user-images.githubusercontent.com/502396/48986194-ed098f00-f0df-11e8-9ae9-dc248df9e240.png))
- I would suggest we use 80 characters as a good place to cap
- 80 - 19 = 61

Suggestion:
- If

[2018-11-26 23:50] dantehemerson opened #62 "There would be a way to just put the name of the repository and get the issues."

[2018-11-27 16:45] DSchau commented on #62
Yeah - I was thinking this too. It seems like a reasonable approach would be to default to a query searching for issues with "good first issue" (as this seems to be a standard) and overriding if a custom config exists, rather than _only_ working if a project has been added.

That's how I interpret this; am I on the right track @dantehemerson?

[2018-11-27 18:01] hemal7735 commented on #62
Falling back to `good first issue` can be proven a great uplift (we are already doing it in `feeling-lucky`, however, this requires some transparency.

We will need to show some sort of message to the user that we are gonna try to find issues with `good first issue` label, as it is not in our configuration. If they want they can raise a PR for overrides.

[2018-11-27 22:03] dantehemerson commented on #62
Yes, @DSchau

I was thinking of something like:
```good-first-issue owner/repo```
for example:
```good-first-issue nodejs/node```

or if we would like to look for issues in an organization or a user
we would only pass the name:
```good-first-issue nodejs```    (org)
or
```good-first-issue dantehemerson```    (user)
This would look at all the owner's projects

We could also search by language:
```g

[2018-11-28 05:10] hemal7735 commented on #62
I like the idea of giving control to users what they want to search.
GitHub API is rich enough to support some of  the features proposed in the this issue.

However,
We need some sort of identifier which can identify correctly if it was meant for Org/Repo/User ? [This link](https://help.github.com/articles/searching-issues-and-pull-requests/#search-within-a-users-or-organizations-repositories) has

[2018-11-29 13:03] bnb commented on #62
This has been suggested multiple times – definitely not opposed to it. There are also a few additional layers that may be interesting to consider:

- We have a few org (as opposed to repository) searches. Would it be possible to also pass a specific repo to those? We get into some parsing weeds here but it's something that's interesting to think about.
- I'm curious if we'd want to phone home abou

[2018-11-29 13:04] bnb opened #63 "Add CI check for npm run markdown"
With https://github.com/bnb/good-first-issue/pull/60 being merged, we've got a new developer command: `npm run markdown`.

It would probably be wise to have a CI check to ensure this was run to lower maintenance burden on everyone ❤️

[2018-11-29 13:04] #52 closed

[2018-11-30 19:54] bnb opened #65 "Add > 50 stars criteria to feeling-lucky"
In testing https://github.com/bnb/good-first-issue/pull/57, I noticed that 5 of the first 7 runs of the `good-first-issue feeling-lucky` command were all repos with only a few issues and two of them were total spam issues created within the last day.

To help ensure that we're _actually_ sending users to Good First Issues that they'll be able to make a meaningful contribution to, how do we feel ab

[2018-12-01 06:02] hemal7735 commented on #63
probably a test-case to validate the following?
1:1 correspondence between entries(README) and entries(data/projects.json)

[2018-12-01 08:05] hemal7735 commented on #65
This will require heavy change on the issues search side, as I don't see a way to tell GitHub API to **"search only in repos having X number of stars".** We will be doing what we are doing currently with filtering `locked` issues. The chances of not finding any such issues from the current page go high as we put more and more filter from our side.

I see 2 approaches here to tackle:
1. Increase th

[2018-12-01 16:13] bnb commented on #65
There is the `stars` filter but it doesn't seem to apply to Issues 😭

## Query
[code]
### Result
- 51k issues
- 17k repos

## Query
[code]
### Result
- 51k issues
- 113k repos

Until this filter applies to Issues (or we hear it won't) I don't think we should implement this feature 😢

[2018-12-01 16:16] bnb commented on #63
Yup, that sounds like a good idea.

[2018-12-02 23:29] bnb opened #78 "Handle errors better"
My internet is pretty flaky right now and disconnected while I was trying out a PR. Connection was reset, and a pretty nasty error was output to the console:

![image](https://user-images.githubusercontent.com/502396/49346407-05d5ef80-f660-11e8-8768-4cbd8fac46a8.png)

[2018-12-03 00:49] bnb commented on #13
Updated the milestone to reflect the status of #40 👍

[2018-12-03 14:50] hemal7735 commented on #63
@bnb We can close this issue now.

[2018-12-03 15:10] #63 closed

[2018-12-05 07:42] boneskull commented on #65
seems like you could coax that out of github using the graphql api.

[2018-12-05 07:49] boneskull commented on #53
could you not pull descriptions from `description` prop of `octokit.repos.get()`?

[2018-12-05 09:15] hemal7735 commented on #53
@boneskull that is great, would you like to contribute?
@bnb Are we planning to show description in the console?

[2018-12-06 16:09] bnb commented on #53
@hemal7735 it's currently displayed in the project selector when you run `good-first-issue` without a project argument. We should also augment the `lib/log.js` output to surface the descriptions.

[2018-12-07 05:23] hemal7735 opened #83 "MISC - Improve the process for adding new project"
#### What is the problem you are trying to solve?
Let's sit back for a moment and look back at how new project support is added.
1. Add project in `data.json`
2. run `npm run markdown` (Creates an Serial Number)
3. commit `data.json` and `README.md`

Now, what happens when you have multiple PRs? The serial number in README.md will cause conflicts and `rebase` must be performed to avoid conflicts.

[2018-12-10 15:42] hemal7735 commented on #83
@bnb would you like to take an attention to this?

[2018-12-15 04:50] bnb commented on #83
@hemal7735 yes that would be ideal. The best course of action (lowest effort) is likely to just remove the serial numbers 👍

[2018-12-16 05:19] hemal7735 commented on #83
This seem like not working 😞. I tried to replicate: https://github.com/hemal7735/good-first-issue/pull/2

[2018-12-16 16:12] bnb commented on #83
We'd need to update both https://github.com/bnb/good-first-issue/blob/master/markdown.config.js and https://github.com/bnb/good-first-issue/blob/master/markdown.config.spec.js since we're testing Markdown compliance on that table.

[2018-12-16 16:17] hemal7735 commented on #83
I did that and then while testing I found out that GitHub still shows the conflicts, which fails the whole purpose. My bad!

[2018-12-19 19:09] bnb opened #97 "Tests failing for unknown reason"
Not sure why, but on my new machine the Jest tests are failing 🤔

[code]

[2018-12-19 19:14] bnb commented on #97
I'm dumb and didn't `npm install` 😅

[2018-12-19 19:14] #97 closed

[2019-01-12 21:13] greenkeeper[bot] opened #101 "An in-range update of @octokit/rest is breaking the build 🚨"
## The dependency [@octokit/rest](https://github.com/octokit/rest.js) was updated from `16.8.0` to `16.8.1`.

🚨 [View failing branch](https://github.com/bnb/good-first-issue/compare/master...bnb:greenkeeper%2F%40octokit%2Frest-16.8.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@octokit/rest is a direct dependency of

[2019-01-13 06:00] hemal7735 commented on #101
Everything passed after restarting the job.
Closing the issue.
cc: @bnb @maddhruv

[2019-01-13 06:00] #101 closed

[2019-01-15 18:23] hpez opened #102 "Can't run npm run markdown"
After running `npm run markdown` I get the following result:
![screenshot from 2019-01-15 21-52-14](https://user-images.githubusercontent.com/23010096/51200868-df1e0080-190f-11e9-890a-5428d43d7e1a.png)

[2019-01-15 19:47] hemal7735 commented on #102
@hpez thank you for creating the issue. Can you elaborate more on the steps that you followed from the beginning (starting from git clone)?

[2019-01-17 09:18] hpez commented on #102
git clone ...
cd good-first-issue/data/
vim projects.json and added an entry
and npm run markdown

[2019-01-17 10:13] hemal7735 commented on #102
Hi @hpez
Please do this after git clone.
1. cd good-first-issue
2. npm install

then you can add an entry in data/projects.json, and run npm run markdown.

[2019-01-17 12:34] hpez commented on #102
Thanks that did the trick

[2019-01-17 12:34] #102 closed

[2019-02-16 17:14] siddhant1 opened #104 "TypeError: Cannot read property 'q' of undefined"
![image](https://user-images.githubusercontent.com/30566406/52902835-7098cf00-323c-11e9-81dc-b11bc3887cf0.png)
![image](https://user-images.githubusercontent.com/30566406/52902828-61198600-323c-11e9-92ab-138744f458f7.png)

[2019-02-16 17:16] siddhant1 commented on #104
This error is coming up with most of the projects (not coming up with wolkenkit)

[2019-02-17 11:28] siddhant1 commented on #104
Looks like that was my issue.
for people stuck in the same issue :
consider node project ,
"node": {
    "name": "Node.js",
    "q": "org:nodejs is:issue is:open label:\"good first issue\""
  }

you have to search by node and not Node.js

[2019-02-20 09:25] #104 closed

[2019-02-27 06:00] 07Gond opened #107 "Error message on npx execution: "new Octokit({headers}) is deprecated""
I just execute `npx good-first-issue` and find out this message:

![image](https://user-images.githubusercontent.com/2708687/53469088-a43cdb80-3a2a-11e9-8f90-f54412a469d1.png)

OS: MacOS Mojave 10.14.2
Node.js: 8.12.0
Npm: 6.4.1

[2019-02-27 06:24] hemal7735 commented on #107
@07Gond thank you for reporting the issue! I could reproduce that on my Mac.
![image](https://user-images.githubusercontent.com/13718176/53470047-5bb30b80-3a86-11e9-8b3b-73a963249f7d.png)

[2019-02-27 07:35] hemal7735 commented on #107
Okay, so I found out the issue. It is related to v0.24.0 when we were using `headers` which is not deprecated as part of new version of `@octokit/rest`.
@bnb fixed that as part of https://github.com/bnb/good-first-issue/commit/c0d3b6c8ba53ca7ef623f482684918bd227ddf71#diff-72d460be7ab8987d776046e325845bb2  , but has not published the module with the fix.
@07Gond  Once he does that, it should fix th

[2019-02-27 08:17] hemal7735 commented on #83
Closing the issue as this does not seem achievable

[2019-02-27 08:17] #83 closed

[2019-03-07 06:28] greenkeeper[bot] opened #108 "An in-range update of @octokit/rest is breaking the build 🚨"
## The dependency [@octokit/rest](https://github.com/octokit/rest.js) was updated from `16.16.5` to `16.17.0`.

🚨 [View failing branch](https://github.com/bnb/good-first-issue/compare/master...bnb:greenkeeper%2F%40octokit%2Frest-16.17.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@octokit/rest is a direct dependency

[2019-03-08 07:59] greenkeeper[bot] opened #109 "An in-range update of strip-ansi is breaking the build 🚨"
## The devDependency [strip-ansi](https://github.com/chalk/strip-ansi) was updated from `5.0.0` to `5.1.0`.

🚨 [View failing branch](https://github.com/bnb/good-first-issue/compare/master...bnb:greenkeeper%2Fstrip-ansi-5.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

strip-ansi is a devDependency of this project. It

[2019-03-20 07:16] co16353sidak opened #110 "Depreciation warnings given by octokit when running on npx"
On running `good-first-issue` using `npx` and on selecting a package, `@octokit/rest` seems to give depreciation warnings on some of the modules used.

I have attached a screenshot below for your understanding.
<img width="1275" alt="Screenshot 2019-03-20 at 12 45 31 PM" src="https://user-images.githubusercontent.com/35738138/54665811-0eb6d800-4b0e-11e9-936a-967c2724e063.png">

I am also intereste

[2019-03-20 21:31] MoshiLi95 commented on #110
Hi, I noticed another similar warning message, probably also due to `@octokit/rest` updates

Screen shot:
![91553117208_ pic_hd](https://user-images.githubusercontent.com/25776386/54720413-5c8f0880-4b2d-11e9-8a6d-e1b47552693d.jpg)

Could also swap `octokit.search.issues()` please

[2019-03-21 08:52] hemal7735 commented on #51
PR is merged. Closing the issue.

[2019-03-21 08:52] #51 closed

[2019-04-30 22:38] ashokjayaprakash commented on #110
Hello @co16353sidak, I would like to work on this issue. Are you working on this issue currently ?

[2019-05-01 13:47] hemal7735 commented on #110
@bnb lot of issues related to octokit can be resolved by updating to new version. Can you help us understand how we are prioritizing this?

[2019-05-01 14:50] bnb commented on #110
@hemal7735 I've not recently had time to work on this but if you'd like to open a PR I'd be happy to review 👍

[2019-05-01 19:41] hemal7735 commented on #110
@bnb #107 and this issue can be fixed by releasing the changes lying in the master branch.
reference: https://github.com/bnb/good-first-issue/commit/efd9860263aa18abbe1db4ab249b90decc130737#diff-72d460be7ab8987d776046e325845bb2R28
Can you publish the changes?

[2019-06-01 13:40] hemal7735 commented on #110
verified that it is fixed with recent publish by @bnb

[2019-06-01 13:40] #110 closed

[2019-06-01 13:41] hemal7735 commented on #107
verified that it is fixed with recent publish by @bnb

[2019-06-01 13:41] #107 closed

[2019-07-22 23:16] bnb opened #122 "Unhandled promise rejection"
I've gotten this a couple times recently. If anyone wants to tackle, feel free ❤️

[code]

[2019-07-22 23:40] greenkeeper[bot] opened #123 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-07-23 17:38] #53 closed

[2019-07-25 22:50] #108 closed

[2019-07-25 22:50] #109 closed

[2019-07-25 22:50] #123 closed

[2019-07-25 22:55] bnb opened #127 "Move to error interception rather than length checking"
From https://github.com/cutenode/good-first-issue/pull/80#discussion_r239506631:

It would be suitable at some point here validate the actual type integrity of the expected data formats being used, as side effects of this may lead to false positives.

Referring to [bin/good-first-issue#32](https://github.com/cutenode/good-first-issue/blob/master/bin/good-first-issue.js#L32).

[2019-07-25 22:56] bnb commented on #8
Going to close this 👍

[2019-07-25 22:56] #8 closed

[2019-07-25 23:20] greenkeeper[bot] opened #128 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-07-26 02:03] #128 closed

[2019-07-26 02:33] greenkeeper[bot] opened #129 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-08-03 20:06] #129 closed

[2019-08-03 20:08] bnb opened #131 "Handle failed queries"
Just tried validating #122 again and got a very different kind of error:

[code]

[2019-08-03 20:16] bnb commented on #131
Looks like this specific issue can be solved relatively easily – the Firefox debugger changed repos and good-first-issue labels, apparently. That said, we should handle this case in the future!

[2019-08-03 20:30] bnb opened #132 "Handle rate limiting"
Currently, if a user runs too many searches they hit a rate limit. It would be awesome if we could pretty print a message about this rather than logging the JSON :)

[code]

[2019-08-03 20:37] greenkeeper[bot] opened #133 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-08-03 20:50] greenkeeper[bot] opened #134 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-08-03 21:10] #133 closed

[2019-08-03 21:10] #134 closed

[2019-08-08 20:04] estrada9166 commented on #132
Maybe this can be useful https://octokit.github.io/rest.js/#throttling

[2019-08-10 09:09] DanielRuf opened #138 "Use kleur instead of chalk"
`kleur` is generally faster and smaller so we can replace `chalk`.

[2019-08-10 09:11] DanielRuf commented on #122
Needs some try / catch block. I'll check that.

[2019-08-10 09:11] DanielRuf commented on #56
Hm, why not use `cli-table3`?

[2019-08-10 09:15] DanielRuf commented on #56
Hm, why not use `cli-table3`? Or we should report this in the `boxen` repo.

[2019-08-10 11:14] DanielRuf opened #139 "Use newline character instead of empty console.log"
[code]
can be replace by
[code]
in most cases.

https://repl.it/repls/InsubstantialViolentDictionaries

[2019-08-10 11:18] DanielRuf commented on #131
Î think this can be closed as duplicate?

[2019-08-10 11:23] DanielRuf commented on #131
In most cases we could o a irect request to the repo path, get the (redirected and) final path and use this for the search endpoint.

[2019-08-10 11:27] DanielRuf commented on #122
This is not the case anymore as you already wrap the whole in a try / catch an return the error object. I think this can be closed.

[2019-08-10 11:30] DanielRuf commented on #122
See https://github.com/cutenode/good-first-issue/blob/e456412c24df153b90fb0c2c0b9a43c84fffbad3/bin/good-first-issue.js#L28 and https://github.com/cutenode/good-first-issue/blob/41f30ce9f296336194fed7d077b0ace5846458c9/bin/good-first-issue.js#L29

[2019-08-10 11:49] DanielRuf opened #142 "Cleanup branches"
There are a "few" branches which can be deleted:

https://github.com/cutenode/good-first-issue/branches/all

[2019-08-16 00:34] #139 closed

[2019-08-29 20:40] dhuang612 commented on #142
Hi,

I would like to take this on

[2019-08-29 21:02] DanielRuf commented on #142
@8671584 you are free to work on it.

[2019-08-29 21:02] DanielRuf commented on #142
@dhuang612 you are free to work on it.

[2019-08-29 21:03] DanielRuf commented on #142
@dhuang612 feel free to work on it.

[2019-09-04 18:03] dhuang612 commented on #142
Hey,
I've done some research into this and I don't understand how I'm supposed to delete these stale branches.
When I run git branch -a
I see a giant list of branches

but then when I try to do
git branch -d greenkeeper/@octokit/rest-16.20.0
for ex
it returns
error: branch 'greenkeeper/@octokit/rest-16.20.0' not found.

I was hoping I could get some help on this.

Thanks!

[2019-09-04 18:17] DanielRuf commented on #142
You can delete with `git push -d` to delete a remote branch. Or do it in the GitHub UI.

[2019-09-04 18:19] DanielRuf commented on #142
You can do that only with the right org permissions.

[2019-09-04 18:22] dhuang612 commented on #142
I don't believe I have the correct permissions setup for me to delete from the github gui?

[2019-09-04 19:00] dhuang612 commented on #138
I will work on this!

[2019-09-04 19:13] DanielRuf commented on #142
Exactly.

[2019-09-04 19:59] dhuang612 commented on #138
Hey Daniel,
so I swapped chalk out for kleur and was running npm test when I got the following fail
<img width="769" alt="Screen Shot 2019-09-04 at 3 57 27 PM" src="https://user-images.githubusercontent.com/49162249/64287114-dd4f8e80-cf2c-11e9-83e0-77eb8fd66e6e.png">
I was hoping to get some advice on what to do next?

Thanks!

[2019-09-04 20:26] dhuang612 commented on #142
so, I can't complete this?

[2019-09-04 22:06] DanielRuf commented on #142
Exactly, you can not unless you are a collaborator with write permissions.

[2019-09-20 13:53] Kushagra-ag opened #156 "Start script missing in package.json"
We could add a start script in package.json which will run `node bin/good-first-issue`

[2019-09-20 17:20] Kushagra-ag commented on #156
The tests are incomplete in the above referenced issue.

[2019-09-20 18:01] JacobRReed commented on #132
@bnb would this be done inside the libgfi project?

[2019-09-20 18:51] bnb commented on #132
Theoretically, yes. Practically, I'm not certain.

Emitting a warning and preventing the process from crashing in `libgfi` would be ideal, instead returning an error object. Then, catching and pretty printing that there was an error from `good-first-issue` is the part that we'd want to implement here.

We'd also likely want to support consuming an environment variable that contains a GitHub token

[2019-09-20 22:23] JacobRReed commented on #132
@bnb Please check my [pull request](https://github.com/cutenode/libgfi/pull/5) I updated libgfi to handle rateLimit and abuseLimit, it now logs one simple line to the user and exits gracefully. I updated the examples and README to reflect this. Let me know if this doesn't satisfy the requirements.

[2019-10-07 15:42] alemagio commented on #156
Hi i would like to work on this

[2019-10-25 14:20] moita69 commented on #1
I would like to contribute to this issue.

[2019-10-26 14:43] moita69 opened #168 "[Documentation] Sugestion to Doc"
follow parts of documentation:

To test locally, using the modules tests with npm test and trying out a few different commands (like the selector, a specific project, a failed project, and so on) is recommended. For example:

[code]

If you run the code below, its install the repo in the path of the OS ( globally ), but don't install its dependencies, that is needed by test feature.

[code]

I am

[2019-11-13 04:24] boneskull commented on #78
The solution in #80 is along the lines of what should be happening.  If `good-first-issue` knows that it's possible a connection could fail, it should present something useful to the user instead of a big stack trace.  "Check your network connection..."

[2019-12-05 07:48] dopecodez commented on #13
I am thinking about taking this issue up. Adding sort and order shouldn't be too difficult. But i would think the best option would be to add them as string inputs. We can keep a array in a constants file in the code to list the valid options. I also think that adding a --help flag to the cli to list all the options(including --open, --first as well as available options for --sort and --order) sho

[2019-12-05 16:22] bnb commented on #13
@dopecodez feel free to create an issue/PR in libgfi! :)

[2019-12-05 18:20] dopecodez commented on #13
Thanks for the reply @bnb . You can expect an issue on libgfi by tomorrow and a PR shortly after. It makes sense to fix the module before taking this issue up. Once we get libgfi up to run with sort and order, we can work on this repo and add the above said options here!

[2019-12-08 23:00] bnb opened #177 "projects: Remove BigTestjs.io (inactive)"
Seems bigtestjs.io is inactively managing good-first-issues: https://github.com/bigtestjs/bigtestjs.io/issues/3

[2019-12-08 23:24] bnb opened #178 "deps(boxen): error with `Docusaurus` output - emoji in title donks up output"
Just ran into a curious error while testing using the `Docusaurus` output:

![image](https://user-images.githubusercontent.com/502396/70398280-9dd28b80-19ce-11ea-99f4-1c1655ca0660.png)

Notice that the title line's boxen output is 1 character shorter than it should be. Not sure what the solution here is, but I'm sure it should be solvable.

[2019-12-09 05:44] dopecodez commented on #13
Hey @bnb , just wanted to give you a heads up that i opened up a PR in libgfi a couple of days back. It'd be great if you can have a look at it when you get the time.

[2019-12-10 05:32] dopecodez commented on #177
Can i work on this one? We will remove this from projects and the readme.

[2019-12-10 05:59] bnb commented on #177
Yep, feel free!

[2019-12-10 07:38] dopecodez commented on #177
Should be fixed in PR #182

[2019-12-23 08:16] jamesgeorge007 opened #185 "[Feature Request]: onboard an ASCII flavoured banner"
![Screenshot from 2019-12-23 13-25-46](https://user-images.githubusercontent.com/25279263/71345166-95f81700-258a-11ea-90cd-37af1db62a9e.png)

[2019-12-23 08:17] jamesgeorge007 commented on #185
I've put together [node-banner](github.com/jamesgeorge007/node-banner) for the purpose.

[2020-01-22 12:07] alexanderbrown21 commented on #1
anything happened so far with this issue? has this been resolved?

[2020-02-01 08:16] greenkeeper[bot] opened #186 "An in-range update of open is breaking the build 🚨"
## The dependency [open](https://github.com/sindresorhus/open) was updated from `7.0.1` to `7.0.2`.

🚨 [View failing branch](https://github.com/cutenode/good-first-issue/compare/master...cutenode:greenkeeper%2Fopen-7.0.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

open is a direct dependency of this project, and **it

[2020-02-03 06:21] greenkeeper[bot] opened #187 "An in-range update of commander is breaking the build 🚨"
## The dependency [commander](https://github.com/tj/commander.js) was updated from `4.1.0` to `4.1.1`.

🚨 [View failing branch](https://github.com/cutenode/good-first-issue/compare/master...cutenode:greenkeeper%2Fcommander-4.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

commander is a direct dependency of this proj

[2020-02-25 05:34] hemal7735 commented on #156
closing with #158

[2020-02-25 05:34] #156 closed

[2020-02-29 06:09] greenkeeper[bot] opened #188 "An in-range update of inquirer is breaking the build 🚨"
## The dependency [inquirer](https://github.com/SBoudrias/Inquirer.js) was updated from `7.0.4` to `7.0.5`.

🚨 [View failing branch](https://github.com/cutenode/good-first-issue/compare/master...cutenode:greenkeeper%2Finquirer-7.0.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

inquirer is a direct dependency of this p

[2020-05-11 08:44] anujarora0502 commented on #178
can i work on it?

[2020-06-02 22:47] sanlf opened #193 "Error with 'docusaurus': output issues aren't always from docusaurus"
When running `npx good-first-issue docusaurus`, the outputs can be from other projects. For example here it outputs issues of jest:

![docusaurus](https://user-images.githubusercontent.com/35877936/83572647-7857b200-a519-11ea-9f59-7ff640c2d92f.png)

I checked in `data/projects.json` and the query for docusaurus seems wrong:
[code]

I tried changing it to a query to the repo:
[code]

But running `n

[2020-06-04 02:26] sanlf commented on #193
It seems the last part was just a mistake from my part, as after making the change in `data/projects.json`, installing the project and running `npx good-first-issue docusaurus` multiple times, I get issues from docusaurus everytime.

[2020-06-07 03:00] bhumijgupta opened #195 "Octokit deprecated warning"
When I try to run `good-first-issue` with npx, it throws a Ocktokit deprecated warning.

Screenshot:
![image](https://user-images.githubusercontent.com/30751793/83959316-21473980-a899-11ea-894f-78284adc2c9b.png)

[2020-06-12 00:25] bnb commented on #1
@iamtabrezkhan feel free - there may have been some things done but improvements/enhancements always welcome.

[2020-06-18 04:57] jake32321 commented on #195
I see this as well. I have a working tweak that should resolve this. I should have a PR shortly for this.

[2020-06-18 05:31] jake32321 commented on #195
Bleh... It looks like the version I was working off of was really out of date. Octokit isn't even a dependency of good-first-issue anymore.

[2020-09-12 22:02] #142 closed

[2020-09-12 22:02] #138 closed

[2020-10-09 20:04] carlosdeque-s commented on #1
Hi, Im new at github and my experience qith code is from the last 2 years with some months of innactivity in between.

Is there any task I could do or somethings I need to learn if I only have a small experience in Js, Ruby, Java, C++, Python?

[2020-10-12 17:12] bnb commented on #1
@carlosdeque-s feel free to poke around and try things out. Use the project, if you have an idea about how it could be better create an issue and I'll share feedback on it. If it's an affirmative, go ahead and start working on a PR - I can at the very least give you pointers in the right direction.

[2020-12-12 05:32] zootechdrum commented on #1
hey @bnb Is this still a on going project ? The project seems really interesting.

[2021-01-12 20:35] bnb commented on #1
@zootechdrum I don't actively work on it at this point for no reason other than I have other things I focus on. I could work on it; also happy to work with others to enable them to get improvements and additions shipped and eventually become a maintainer.

[2021-02-08 18:29] aashimawadhwa commented on #53
can you please explain the issue more elaborately

[2022-06-22 00:30] ka1994ka commented on #1
هاي

[2022-10-14 19:02] yabhinavy commented on #1
!assign